@model DataStorm.Web.Models.DTO.ImmobileDTO

<h4>Dettaglio immobile</h4>
<table class="table">
    <tr>
        <td>
            <label>@Html.DisplayNameFor(m=>m.Indirizzo)</label>
        </td>
        <td>
            @Html.DisplayTextFor(m=>m.Indirizzo)
        </td>
    </tr>
    <tr>
        <td>
            <label>@Html.DisplayNameFor(m => m.Comune)</label>
        </td>
        <td>
            @Html.DisplayTextFor(m => m.Comune)
        </td>
    </tr>
    <tr>
        <td>
            <label>@Html.DisplayNameFor(m => m.TipoImmobile)</label>
        </td>
        <td>
            @Html.DisplayTextFor(m => m.TipoImmobile)
        </td>
    </tr>
    <tr>
        <td>
            <label>@Html.DisplayNameFor(m => m.TipoAgibilita)</label>
        </td>
        <td>
            @Html.DisplayTextFor(m => m.TipoAgibilita)
        </td>
    </tr>
    
</table>

<!-- inizio area risultato test -->


<div id="risultato">
<h3 class="text-center">Il tuo immobile risulta</h3>
<div class="single-price price-one">
                        <div class="table-heading">
                            <p class="plan-name"><b>F</b> - Rischio molto alto</p>
                        </div>
                        <ul>                            
                            <li>Lorem ipsum dolor <span><i class="fa fa-check"></i></span></li>
                            <li>Consectetur adipiscing <span><i class="fa fa-times"></i></span></li>
                            <li>Nulla pellentesque <span><i class="fa fa-times"></i></span> </li>
                            <li> Integer quis risus <span><i class="fa fa-check"></i></span></li>
                            <li>Phasellus et metus <span><i class="fa fa-times"></i></span></li>
                            <li>Duis nec massa inter <span><i class="fa fa-check"></i></span></li>
                        </ul>
                        <a href="#" class="btn btn-buynow">Richiedi un preventivo</a>
                    </div>
</div>


<!-- fine area risultato test -->


<div>
    
</div>
