@model DataStorm.Web.Models.DTO.ImmobileDTO

<h4>Dettaglio immobile</h4>
<table class="table">
    <tr>
        <td>
            <label>@Html.DisplayNameFor(m=>m.Indirizzo)</label>
        </td>
        <td>
            @Html.DisplayTextFor(m=>m.Indirizzo)
        </td>
    </tr>
    <tr>
        <td>
            <label>@Html.DisplayNameFor(m => m.Comune)</label>
        </td>
        <td>
            @Html.DisplayTextFor(m => m.Comune)
        </td>
    </tr>
    <tr>
        <td>
            <label>@Html.DisplayNameFor(m => m.TipoImmobile)</label>
        </td>
        <td>
            @Html.DisplayTextFor(m => m.TipoImmobile)
        </td>
    </tr>
    <tr>
        <td>
            <label>@Html.DisplayNameFor(m => m.TipoAgibilita)</label>
        </td>
        <td>
            @Html.DisplayTextFor(m => m.TipoAgibilita)
        </td>
    </tr>
    
</table>
<div>
    
</div>
